doctype html
head
  title My awesome app
  meta( charset="utf-8" )
  link( href="[[ app-*.css ]]", media="all", rel="stylesheet" )
body
  p Hi everyone!
  img( src="[[ ./images/hi.png ]]" )
  script( src="[[ app-*.js ]]" )
